In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.read_csv('Data/car-sales-extended-missing-data.csv')

In [4]:
data_df.shape

(1000, 5)

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [16]:
missing_count = data_df.isnull().sum()

In [17]:
missing_count

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [21]:
total_cells = np.product(data_df.shape)

In [22]:
missing_val = data_df.isnull().sum().sum()

In [25]:
percentage = (missing_val/total_cells) * 100
percentage

4.9799999999999995

In [28]:
new_df = data_df.loc[:10,:'Doors']

In [34]:
new_df

      Make Colour  Odometer (KM)  Doors
0    Honda  White        35431.0    4.0
1      BMW   Blue       192714.0    5.0
2    Honda  White        84714.0    4.0
3   Toyota  White       154365.0    4.0
4   Nissan   Blue       181577.0    3.0
5    Honda    Red        42652.0    4.0
6   Toyota   Blue       163453.0    4.0
7    Honda  White            NaN    4.0
8      NaN  White       130538.0    4.0
9    Honda   Blue        51029.0    4.0
10  Nissan  White       167421.0    4.0

In [38]:
new_df.fillna(method='ffill',axis=0)

      Make Colour  Odometer (KM)  Doors
0    Honda  White        35431.0    4.0
1      BMW   Blue       192714.0    5.0
2    Honda  White        84714.0    4.0
3   Toyota  White       154365.0    4.0
4   Nissan   Blue       181577.0    3.0
5    Honda    Red        42652.0    4.0
6   Toyota   Blue       163453.0    4.0
7    Honda  White       163453.0    4.0
8    Honda  White       130538.0    4.0
9    Honda   Blue        51029.0    4.0
10  Nissan  White       167421.0    4.0

In [31]:
new_df.dropna(axis=0)

      Make Colour  Odometer (KM)  Doors
0    Honda  White        35431.0    4.0
1      BMW   Blue       192714.0    5.0
2    Honda  White        84714.0    4.0
3   Toyota  White       154365.0    4.0
4   Nissan   Blue       181577.0    3.0
5    Honda    Red        42652.0    4.0
6   Toyota   Blue       163453.0    4.0
9    Honda   Blue        51029.0    4.0
10  Nissan  White       167421.0    4.0